body {
  background-color: black;
}

.navbar {
  background-color: black;
  border-bottom: 4px solid red;
}

.nav-link {
  color: red;
  transition: color 0.7s ease;
}

.nav-link:hover {
  color: white;
}

.navl-link:active,
.nav-link:focus {
  color: red;
}

.navbar-toggler {
  border: 2px solid red;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}